/* Reset default margin and padding for all elements */
/* body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(216, 2%, 54%);
    height: 700vh;
}
#logo{
    position: relative;
    color: white;
}
#header-menu img{
    width: 1448.15px;
    height: 1055px;
    flex-shrink: 0; */

/* this position was already commented */
/* position: relative;
bottom: 20px;
margin-top: -35px;
width: 100%;
height: 150vh; 
}*/

/* second part starts here */
/* 
nav{
display: inline;
position: relative;

}
nav ul li{
    display: inline;
    text-decoration: none ;
    list-style-type: none;
    position: relative;
    bottom: 900px;
    left: 1000px;
    padding: 20px;
    padding: auto;
    


}
nav li{
list-style: none;
text-decoration: none;
color: white;
}
#Get-Schooled { 
    color: white;
    position: relative;
    bottom: 800px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
} */
/* this was already commented */
   /* #Get-Schooled{
    width: 1448.15px;
    height: 1055px;
    flex-shrink: 0; */
  
/* third part starts here */
/* #Get-Schooled h3 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    background color;

}
#Expression p {
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
}
#button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: none;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
/* this was already commented */
    /* margin-top: 30px;
    top: 90px;
    position: relative;
    text-align: center;
    align-self: center;
    width: 120px;
    height: 2px; 
    left: 600px; 
    bottom: 500px; 
} */

/* fourth part starts here */
/* #Learn {
    display: flex;
    position: absolute;
    text-align: center;
    left: 30rem;
    bottom: -11rem;
    word-spacing: 10px;
    font-size: 40px;

    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.5;
}

#Learn::first-word {
    font-family: "Helvetica", sans-serif;
    color:blueviolet;
} */

/* #pros {
    background-color: none;
    /* background-size: 200px; */

    /* display: inline;
    display: flex;
    color: #fff;
    line-height: 1.5;
    position:relative;
    bottom: 450px;
    left: 50px;
    justify-content: space-around;
} */

/* fifth part */
/* #Pros1 img{
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
    
}
#pros1 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    
    
}
#pros2 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

}
#pros3 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

}
#pros4 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

   
}
#Learn {
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#Testimonial {
    background-color: blueviolet;
    width: 1440px;
    height: 392px;
    flex-shrink: 0; 
    margin-top: 0;
    padding-top: 5%; 
    text-align: center;   
}
#test1-img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    align-self: center;
    width: max-content;
    padding-left: 200px;
    padding-top: 50px;
}
#test1-text1 {
    width: 400px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; 
    text-align: center;
    align-items: center;
    padding-left: 400px;
    padding-bottom: 0;
    line-height: 20px;
    position: relative;
    top: -150px;
}
#test1-h3 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; 
    line-height: 20px;
    position: relative;
    top: -170px;
    right: 250px;
}
#test1-text2 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; 
    line-height: 20px;
    position: relative;
    top: -195px;
    right: 250px;
}
#tutorials1to4{
    display: flex;
    flex-direction: row;
    
}   
#tutorial1 {
    flex-grow: 1;
}
#tutorial2 {
    flex-grow: 1;
}
#tutorial3 {
    flex-grow: 1;
}
#tutorial4 {
    flex-grow: 1;
}
#img3 {
    min-height: auto;
    min-width: auto;
    flex-shrink: 0px;
}
    

#tutorial-h3 {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#popular {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Free-Membership {
    background-color: black;
    display: flex;
    width: 1440px;
    height: 392px;
    flex-shrink: 0; 
    margin-top: 0px;
    padding: 50px;
    align-items: center;
}
#Free-Membership-h2 {
    display: flex;
    position: relative;
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    top: -200px;
    left: 500px;
}
#smile1{
    width: 257px;
    height: 153px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    Line-height: 26px;
}
#smile2{
    width: 257px;
    height: 153px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#smile3{
    width: 257px;
    height: 153px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#smile4{
    width: 257px;
    height: 153px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
#button2 {
    color: #fff;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 20px;
    margin-top: 30px;
    bottom: 100px;
    display: flex;
    position: relative;
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    bottom: -170px;
    right: 700px;
}
#F.A.Q {
    width: 920px;
    height: 707px;
    flex-shrink: 0;
    display: flex;
}
#F.A.Q h {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
*/

/* #Q1 { */
    /* display: inline;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 171.429% */
/* 
}
#Q2 { */
    /* display: inline;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 171.429% */
/* }
#Q3 { */
    /* color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 171.429% */
/* }
#Q4 { */
    /* display: inline;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    left: 500px;
}
#Footer-Menu {
    display: flex;
    width: 1440px;
    height: 249px;
    flex-shrink: 0;
    background: #071629;
}
#Footer-Menu p{
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3516787588596344;
    align-self: baseline;
}
#Footer-Menu img{
    width: 130px;
    height: 30px;
    flex-shrink: 0;
}
#Footer-Menu logo {
    display: inline-flex;
    padding: 0.023px 0px 0.516px 0.592px;
    justify-content: center;
    align-items: center;
    gap: 18.019px;
    color:#FFFFFF;
} */






/* #img2{

    width: 30px;
    height: 30px;
    flex-shrink: 0; 
}
.rating{
    width: 107px;
    height: 15px;
    flex-shrink: 0;
}*/












/* OLD CODES */
/* Body{
    display: flex;
}
main{
    width: 1440px
height: 1093px
}
main.pros{
    width: 1009px
height: 237px
top: 758.0000000000002px
left: 217.0000000000001px

}
main.learn.pros{
    width: 261px
height: 40px
top: 631.0000000000002px
left: 604.0000000000001px
}
main button{
    width: 162px
height: 44px
top: 419.0000000000002px
left: 639.0000000000001px

}
main.laugh{
    width: 49px
height: 20px
top: 361.0000000000002px
left: 797.0000000000001px

}
main.grin{
    width: 36px
height: 20px
top: 361.0000000000002px
left: 704.0000000000001px

}
main.smiles{
    width: 52px
height: 20px
top: 361.0000000000002px
left: 593.0000000000001px

}
main.Get.schooled{
    width: 684px
height: 151px
top: 220.00000000000023px
left: 377.0000000000001px

}


img{

display: flex;
width: 1103.4078369140625px;
height: 29.46099090576172px;
top: 35.02320098876976px;
left: 171.5922088623048px;
padding: 0px 0.00006103515625px 0px 0px;
}
header.menu{
width: 234px;
height: 15px;
top: 37.00000000000023px;
left: 1041px;

}
header.menu.login{
    width: 34px
height: 15px
left: 200px

}
header.menu.pricing{
    width: 45px
height: 15px
left: 102px

}
header.menu.courses{
    width: 50px
height: 15px

}
header.logo{
    width: 167.01577758789062px
height: 29.46099090576172px
top: 35.02320098876976px
left: 171.5922088623048px
}
header.logo.path1{
    width: 35.5730586990948px
height: 8.86561479561578px
top: 55.6846618652346px
left: 171.5922088623048px
angle: 7 deg

}
header.logo.path2{
    width: 35.5730586990948px
height: 8.86561479561578px
top: 55.6846618652346px
left: 171.5922088623048px
angle: 7 deg

}
header.logo.path3{
    width: 7.866000175476074px
    height: 11.847999572753906px
    top: 35.02320098876976px
    left: 175.9947967529298px
    
}

part_1_testimonial{

width: 1440px
height: 392px
top: 1093.0000000000002px
left: -0.9999999999998863px
}
testimonial{
    width: 943px
height: 160px
top: 1201.0000000000002px
left: 259.0000000000001px

}
part_2_tutorial{
    width: 1228px
height: 450px
top: 1572.0000000000002px
left: 106.00000000000011px
}
tuto_4{
    width: 255px
height: 335px
top: 115px
left: 914px
}
tuto_3{
    width: 255px
height: 335px
top: 115px
left: 629px

}
tuto_2{
    width: 255px
height: 335px
top: 115px
left: 344px

}
tuto_1{
    width: 255px
height: 335px
top: 115px
left: 58px

}
most popular tutorial{
    width: 294px
height: 40px
left: 482px

}
part_3_free_membership{
    width: 1440px
    height: 502px
    top: 2109px    

} */


/* Reset default margin and padding for all elements */
body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: hsl(216, 2%, 54%);
    height: 2000vh;
  }
  
  /* Header */
  #logo {
    color: white;
  }
  
  #header-menu img {
    width: 1448.15px;
    height: 1055px;
    flex-shrink: 0;
  }
  
  nav ul {
    display: inline;
  }
  
  nav li {
    display: inline;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  #Get-Schooled {
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  #Learn {
    display: flex;
    position: absolute;
    text-align: center;
    left: 30rem;
    bottom: -11rem;
    word-spacing: 10px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.5;
  }
  
  #Learn::first-word {
    font-family: "Helvetica", sans-serif;
    color: blueviolet;
  }
  
  /* Testimonials */
  #Testimonial {
    background-color: blueviolet;
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
  }
  
  #test1-img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    align-self: center;
    width: max-content;
    padding-left: 200px;
    padding-top: 50px;
  }
  
  #test1-text1 {
    width: 400px;
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: center;
    align-items: center;
    padding-left: 400px;
    padding-bottom: 0;
    line-height: 20px;
    position: relative;
    top: -150px;
  }
  
  #test1-h3 {
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 33.6px;
    position: relative;
    top: -170px;
    right: 250px;
  }
  
  #test1-text2 {
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.6px;
    position: relative;
    top: -195px;
    right: 250px;
  }
  
  /* Pros */
  #pros {
    /* background-color: none; */
    color: #fff;
    /* line-height: 1.5; */
    position: relative;
    bottom: 450px;
    left: 50px;
    justify-content: space-around;
  }
  
  #Pros1 img,
  #pros1,
  #pros2,
  #pros3,
  #pros4 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  
  /* Free Membership */
  #Free-Membership {
    background-color: black;
    display: flex;
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
    margin-top: 0px;
    padding: 50px;
    align-items: center;
  }
  
  #Free-Membership-h2 {
    display: flex;
    position: relative;
    color: #c271ff;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 700;
    top: -200px;
    left: 500px;
  }
  
  #smile1,
  #smile2,
  #smile3,
  #smile4 {
    width: 257px;
    height: 153px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  
  #button2 {
    color: #fff;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 20px;
    margin-top: 30px;
    bottom: 100px;
    display: flex;
    position: relative;
    color: #c271ff;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 700;
    bottom: -170px;
    right: 700px;
  }
  
  /* FAQs */
  #F.A.Q {
    width: 920px;
    height: 707px;
    flex-shrink: 0;
    display: flex;
  }
  
  #F.A.Q h {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: 300;
    line-height: normal;
  }
  
  #Q4 {
    display: inline;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    left: 500px;
  }
  
  /* Footer */
  #Footer-Menu {
    display: flex;
    width: 1440px;
    height: 249px;
    flex-shrink: 0;
    background: #071629;
  }
  
  #Footer-Menu p {
    color: #fff;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.35;
    align-self: baseline;
  }
  
  #Footer-Menu img {
    width: 130px;
    height: 30px;
    flex-shrink: 0;
  }
  
  #Footer-Menu .logo {
    display: inline-flex;
    padding: 0.023px 0px 0.516px 0.592px;
    justify-content: center;
    align-items: center;
    gap: 18.019px;
    color: #fff;
  }
  